
		<div class="col-xs-3">
			<h2>User info</h2>
			<img src="assets/images/866-200x300.jpg">
			<table>
				<tr>
					<th>name</th>
					<th>hojokaban</th>
				</tr>
				<tr>
					<th>introduction</th>
					<th>ahahahhahahhahahahhahhahhahaha</th>
				</tr>
				</table>
				<button><span class="glyphincon glyphincon-wrench"></span></button>
			<h2>New book</h2>
			<%= form_for(book) do |f| %>
			<%= f.label :title, "Title" %>
			<%= f.text_field :title %>
			<%= f.label :body, "Opinion" %>
			<%= f.text_area :body %>
			<%= f.submit 'Create Book' %>
			<% end %>
		</div>
