<!DOCTYPE html>
<html>
<head>
  <title>Bookers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/df5d430224.js" crossorigin="anonymous"></script>
</head>

<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h4>Bookers</h4>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to current_user do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>　Home<% end %></li>
              <li><%= link_to(users_path) do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span>　Users<% end %></li>
              <li><%= link_to(books_path) do %><span class="glyphicon glyphicon-book" aria-hidden="true"></span>　Books<% end %></li>
              <li><%= link_to(destroy_user_session_path, method: :delete) do %><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>　logout<% end %></li>
            <% else %>
              <li><%= link_to root_path do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>　Home<% end %></li>
              <li><%= link_to(about_book_path) do %><span class="glyphicon glyphicon-link" aria-hidden="true"></span>　About<% end %></li>
              <li><%= link_to(new_user_registration_path) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>　sign up<% end %></li>
              <li><%= link_to(new_user_session_path) do %><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>　login<% end %></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </header>

<div class="container body">

  <div class="search_form">
    <%= render 'layouts/search_form' %>
  </div>

  <% if flash[:notice] %><%= flash[:notice] %><% end %>
  <%= yield %>

</div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
