<!DOCTYPE html>
<html>
<head>
  <title>Bookers</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h4>Bookers</h4>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>"Home"
              </li>
            <li>About</li>
            <li>sign up</li>
            <li>login</li>
            <% else %>
            <li><%= link_to("/") do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>　Home<% end %></li>
            <li><%= link_to(about_book_path) do %><span class="glyphicon glyphicon-link" aria-hidden="true"></span>　About<% end %></li>
            <li><%= link_to(new_user_registration_path) do %><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>　sign up<% end %></li>
            <li><%= link_to(new_user_session_path) do %><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>　login<% end %></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </header>

<div class="body">
  <%= yield %>
</div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
